<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email address:</b>
  <%= @user.email %>
</p>
<div>
<p>
  <b>Post Count:</b>
  <%= @postcount %>
</p>

<p>
  <b>Reply Count:</b>
  <%= @replycount %>
</p>
</div>
<p>
  <b>Total Post Votes Earned:</b>
  <%= @postvotesearned %>
</p>

<p>
  <b>Total Reply Votes Earned:</b>
  <%= @replyvotesearned %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
