<h1>Listing posts</h1>

<table id="table-style">
  <tr>
    <th>Post Text</th>
    <th>Vote Count</th>
    <th>Created On</th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to "#{post.post_text}", reply_path(post.id) %></td>
    <td><%= post.vote_count %></td>
    <td><%= post.created_at.to_date %></td>
    <% unless user_signed_in? -%>
        <% # Do Nothing %>
    <% else -%>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <% unless !user_signed_in? and !current_user.user_id == post.user_id-%>
            <td><%= link_to 'Vote', new_post_vote_path(post) %></td>
        <% end %>
        <% unless !current_user.is_admin? %>
            <td><%= link_to 'Destroy', 'posts/' + post.id.to_s + '/destroy', confirm: 'Are you sure?', :method => :delete %></td>
        <% end %>
    </tr>
    <% end %>
<% end %>
</table>

<br />
<% unless user_signed_in? -%>
  <li><%= link_to "Sign in", new_user_session_path %></li>
<% else -%>
  <li><%= link_to 'New Post', new_post_path %></li>
  <li><%= link_to "Sign out", "/sign_out", :method => :delete %></li>
<% end -%>
